html, body {
	margin:0;
	padding:0;
	font:90%/1.2em Verdana;
}
form {
	background-color:#fff;
	padding:.5em;
	border:5px solid #e0e0e0;
}
form h1 {
	color:#525252;
	margin-top:0;
	font-size:21px;	
}
form h2 {
	color:#525252;
	margin-top:0;
	font-size:18px;	
}
fieldset {
	margin-bottom:.5em;
}
label {
	display:inline-block;
	width:85px;
}
#lightbox_wrapper {
	background-color:#333;
	background-color:rgba(51, 51, 51, 0.5);
	background-color:hsla(0, 0%, 20%, 0.5);
	position:absolute;
	top:0;
	left:0;
	z-index:9999;
}
#close_lightbox {
	position:absolute;
	background:transparent url(../images/close_round.png) 0 0 no-repeat;
	margin-top:-25px;
	margin-left:44.5em;
	width:30px;
	height:30px;
	text-indent:-99999em;
	cursor:pointer;
	cursor:hand;
}
.ie7 #close_lightbox {
	margin-left:40em;
}
#lightbox, 
#simplebox, 
#bigbox {
	display:none;
}
.element_container {
	padding:.5em;
}